.list {
    background: #dfe3e6;
    flex-shrink: 0;
    width: 280px;
    height: fit-content;
    margin: 10px 0 10px 10px;
    border: 1px solid rgba(0, 0, 0, 0.15);
}

.add {
    cursor: pointer;
    padding: 10px;
    color: #6b808c;
    display: flex;
    align-items: center;
}

.title {
    cursor: pointer;
    padding: 10px;
    overflow-wrap: break-word;
}
