.card {
    position: relative;
    cursor: grab;
    background: white;
    margin: 5px;
    padding: 10px;
    font-size: 15px;
    overflow-wrap: break-word;
    min-height: 20px;
}

.card:hover {
    background: #f5f6f7;
}

.icon {
    position: absolute;
    top: 5px;
    right: 5px;
}
